html {
    font-size: 10px;
}

@font-face {
    font-family: "orbitron";
    src: url(../Fonts/Orbitron-VariableFont_wght.ttf);
}

header {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    background-image: linear-gradient( #020801, #0b7008);
    border: black solid;
    color: white;
    padding-bottom: 2rem;
    font-family: "orbitron";
}

header h1 {
    font-size: 4.4rem;
    text-align: center;
    font-weight: 700;
    margin: 3rem;
}

body {
    background-image: url(../images/games2.jpg);
    background-color: #B8F3FF;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: space-around;
}

.systemsmenu, .genresmenu, .featuresmenu {
    padding: 1rem;
    border: 2px black solid;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    font-size: 2rem;
    background-color: red;
    color: yellow;
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: no border;
    box-shadow: 4px 4px 2px rgb(63, 25, 25);
    border-radius: 20px;
}

h2 {
    font-weight: 700;
    text-decoration: underline;
    padding: 2rem;
}

.features, .systems, .other {
    font-size: 2rem;
    padding: 1rem;
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(211,211,211,0.9);
    color: rgb(12, 12, 92);
    display: inline;
}

.content {
    margin-bottom: 3rem;
}

footer {
    font-weight: 700;
    padding: 2.5rem;
    text-align: center;
    background-color:  rgba(211,211,211,0.85);
}

ol {
    font-size: 1.6rem;
    margin: 1.5rem;
}

article {
    background-color: rgba(211,211,211,0.85);
    color: rgb(12, 12, 92);
    padding: 3rem;
}

#grid-container {
    display: grid;
    grid-template-columns: 250px 250px; 
    padding: 1.5rem;
}

.signup {
    margin-top: 3rem;
    text-align: left;
    width: 25%;
    display: inline-block;
    margin-top: 5rem;
}

#namefield, #emailfield {
    display: flex;
    justify-content: left;
}

@media screen and (min-width: 800px) {
    .systemsmenu, .genresmenu, .featuresmenu {
        width: 25%;
    }
}