html {
    font-size: 10px;
}

header {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    background-color: #63768D;
    border: black solid;
}

body {
    background-color: #B8F3FF;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.systemsmenu, .genresmenu, .featuresmenu {
    width: 25%;
    padding: 1rem;
    border: 2px black solid;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    font-size: 2rem;
    background-color: red;
    color: yellow;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: no border;
    box-shadow: 4px 4px 2px gray;
}

nav {
    padding: 2rem;
}

h2 {
    font-weight: 700;
    text-decoration: underline;
}

.features, .systems, .other {
    font-size: 1rem;
    width: 30%;
    padding: 1rem;
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}